@font-face {
    font-family: 'icon';
    src: url('http://cdn.jsdelivr.net/contenttools/1.2.4/icons.woff');
    font-weight: normal;
    font-style: normal;
}

.ce-element--drop:before {
    background-image: url('http://cdn.jsdelivr.net/contenttools/1.2.4/images/drop-vert-above.svg');
}
.ce-element--drop-left:before, 
.ce-element--drop-right:before {
    background-image: url('http://cdn.jsdelivr.net/contenttools/1.2.4/images/drop-horz.svg');
}
.ce-element--drop.ce-element--type-table-row {
    background-image: url('http://cdn.jsdelivr.net/contenttools/1.2.4/images/drop-vert-above.svg');
}
.ce-element--drop.ce-element--type-table-row.ce-element--drop-below {
    background-image: url('http://cdn.jsdelivr.net/contenttools/1.2.4/images/drop-vert-below.svg');
}

.ce-element--type-video { 
    background-image: url('http://cdn.jsdelivr.net/contenttools/1.2.4/images/video.svg'); 
}