div.tm-inline { 
    margin: 3px;
    box-shadow: 2px 1px 5px 0px #2196F3;
}
li.tm-progress {
	list-style-type: none;
}
ul.tm-ProgressList{
	list-style-type: none;
	
}
ul.tm-ulSubItems{
	list-style-type: none;
	
}
div.tm-progresDiv{
	display:block;
	position: absolute;
    bottom: 0px;
    height:224px;
    overflow:auto;
    width: 100%;
    opacity: 0.3;
}    
.clearBoth { clear:both; }