<label for="{{name}}-id">JQL</label>

<textarea name="{{name}}-test2">
</textarea>
        <select class="multi-select" size="4" id="multiselect" name="multiselect">
            <option>option one</option>
            <option>option two</option>
            <option>option three</option>
            <option>option four</option>
            <option>option five</option>
            <option>option six</option>
        </select>



<br>
<br>
<div class="select2-container select2-container-multi aui-select2-container select2-dropdown-open">
	<ul class="select2-choices">
		<li class="select2-search-field">
			<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
				class="select2-input" style="width: 10px;">
		</li>
		<li class="select2-search-choice">
			<div>Testing</div>
			<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
		</li>
		<li class="select2-search-field">
			<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
				class="select2-input" style="width: 10px;">
		</li>
		<li class="select2-search-choice">
			<div>Other Testing</div>
			<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
		</li>
		<li class="select2-search-field">
			<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
				class="select2-input" style="width: 10px;">
		</li>
		
	</ul>
</div>
<!--  
<div class="select2-drop select2-drop-multi select2-display-none aui-select2-drop aui-dropdown2 aui-style-default aui-layer select2-drop-active"
 resolved aria-hidden="true" style="left: 112.571px; width: 10px; top: 361.349px; bottom: auto; display: block;">
	<ul class="select2-results">
		<li class="select2-results-dept-0 select2-result select2-result-selectable">
			Value 1
		</li>
		<li class="select2-results-dept-0 select2-result select2-result-selectable select2-highlighted">
			Value 2
		</li>
		<li class="select2-results-dept-0 select2-result select2-result-selectable">
			Value 3
		</li>
	</ul>
</div>
-->
<br>
<br>
<br>
<div class="select2-container select2-container-multi aui-select2-container">
	<ul class="select2-choices">
		<li class="select2-search-choice">
			<div>Testing</div>
			<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
		</li>
		<li class="select2-search-choice">
			<div>Other Testing</div>
			<a href="#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a>
		</li>
		<li class="select2-search-field">
			<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
				class="select2-input">
		</li>
		
	</ul>
</div>
<br>
<br>
<textarea class="textarea" name="{{name}}-input" id="{{name}}-id" placeholder="5+3+(8*4)"></textarea>
<br>
<button (click)="doTestNearley()" class="aui-button">test expresion</button>
<textarea class="textarea" name="{{name}}-result" id="{{name}}-result" placeholder="...."></textarea>
