<label for="{{name}}-id">JQL</label>
<br>
<span id="jqlerrormsg" class="icon jqlerror" title="...   OR ca^"><span>analizar</span></span>
<textarea id="advanced-search" class="search-entry advanced-search ajs-dirty-warning-exempt" name="jql" style="height: 31px; overflow: hidden;" autocomplete="off"></textarea>
<br>

<textarea class="textarea" name="{{name}}-input" id="{{name}}-id" placeholder="5+3+(8*4)"></textarea>
<br>
<button (click)="doTestNearley()" class="aui-button">test expresion</button>
<textarea class="textarea" name="{{name}}-result" id="{{name}}-result" placeholder="...."></textarea>
