<button (click)="execute()" class="aui-button">execute</button> 
<input type="file" name="userPhoto" id="userPhoto" />

<textarea name="{{name}}-code" rows=40 style="width:100%;">
                var  saveAttachment=function (issueId,theDataToSave) {
                    // theDataToSave is a large block of base-64 encoded binary data
                    var theFileName = "testattachment.txt";
                    var formData = new FormData();
                    var content = '<a id="a"><b id="b">hey!</b></a>'; // the body of the new file...
                    for (var i=0;i<20000;i++){
                        content+=(""+i);
                    }
                    var theBlob = new Blob([content], { 
                        type: 'text/plain'
                    });
                
/*                    // Make a blob from the SDR data    
                    var theBlob = new Blob([theDataToSave], {
                      type: 'text/plain; charset="UTF-8"'
                    });
                    formData.append("file", theBlob, theFileName);
*/
//                    var vInput=$('input[type=file]')[0].files[0];
//                    formData.append("file", vInput);
                    
                    var newFormData = {
                        file: {
                            value: "añdsflksafdjñalsdf",
                            options: {
                                filename: "test3.txt",
                                contentType: "text/plain"
                            }
                        }
                    }; 
                    var theRequestURL;
                    // gContentId is the JIRA issue ID, previously obtained in the code
                    theRequestURL = '/rest/api/2/issue/' + issueId + '/attachments';

                    
                    
                    AP.request({
                      url: theRequestURL,
                      type: 'POST',
                      data: newFormData,
//                      dataType: 'multipart/form-data',
                      dataType: 'application/json',
                      async: true,
                      contentType: 'application/json',
//                      processData: false,
//                      contentType: 'multipart/form-data',
//                      contentType: false,
//                      contentType: "text/plain",
                      headers: {
//                        "Content-Type": 'multipart/form-data',
                        "Content-Type": 'application/json',
                        "X-Atlassian-Token": "no-check"  // Tried nocheck as well as nocache, same issue
                      },
                      success: function(theResponse) {
                         log("Correcto");
                        // Kick off the next step after the save...
                      },
                      error: function(xhr, textStatus, errorThrown) {
                      // We hit this every time with an XSRF issue
                        alert("Problem saving data: "+xhr.responseText);
                      }
                    });
                  };     
                  
              var iValues=[];
              for (var j=0;j<1000;j++){
                  for (var i=0;i<256;i++){
                      iValues.push(i);
                  }
              }
              var uint8Values= new Uint8Array(iValues);
              var sB64=fromByteArray(uint8Values);
              saveAttachment("PDP-37",sB64);
</textarea>
<button (click)="execute()" class="aui-button">execute</button> 
