

<div>
<label id="{{name}}-lbl" for="{{name}}-text">{{typeDescriptor}}<span class="aui-icon icon-required">required</span></label>
<input class="text" type="text" id="{{name}}-text" name="{{name}}-text" title="{{typeDescriptor}}">
<button>+</button> 
</div>
<div>
<table id="{{name}}-tbl" class="aui">
    <thead>
        <tr>
            <th></th>
            <th>{{typeDescriptor}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button>-</button></td>
            <td>One {{typeDescriptor}}</td>
        </tr>
    </tbody>
</table>
</div>
